services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      # Pass environment variables from the .env file
      - DB_URL=${DB_URL}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    env_file:
      - .env
    restart: always
